h1 {
  display: flex;
  justify-content: center;
  margin: 0;
}
.main{
  background-color:rgb(47, 52, 50);
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  
}

.movie {
  background-color: rgb(13, 73, 13);

  border: 2px solid rgb(61, 156, 220);
  border-style:double;
  padding: 3px;
  height: 355px;
  width: 190px;
  margin-top: 16px;
  margin-bottom: 1px;
}
.header {
  background-color: rgba(30, 32, 33, 0.907);
  padding:8px;
  color: aliceblue;
}
.movie img {
 width: 192px;
 height: 260px;
}
.movie p {
  display: flex;
  justify-content:center;
  height: 8%;
  width: fit-content;
  color:rgb(245, 249, 251);

}
